@theme inline {
  --color-grv-bg-hard: var(--gruvbox-color-bg-hard);
  --color-grv-bg0: var(--gruvbox-color-bg0);
  --color-grv-bg1: var(--gruvbox-color-bg1);
  --color-grv-bg2: var(--gruvbox-color-bg2);
  --color-grv-bg3: var(--gruvbox-color-bg3);
  --color-grv-bg4: var(--gruvbox-color-bg4);
  --color-grv-fg0: var(--gruvbox-color-fg0);
  --color-grv-fg1: var(--gruvbox-color-fg1);
  --color-grv-fg2: var(--gruvbox-color-fg2);
  --color-grv-fg3: var(--gruvbox-color-fg3);
  --color-grv-fg4: var(--gruvbox-color-fg4);
  --color-grv-base: var(--gruvbox-color-bg);
  --color-grv-text: var(--gruvbox-color-fg);
  --color-grv-gray-bright: var(--gruvbox-color-gray-bright);
  --color-grv-gray: var(--gruvbox-color-gray);
  --color-grv-gray-faded: var(--gruvbox-color-gray-faded);
  --color-grv-red-bright: var(--gruvbox-color-red-bright);
  --color-grv-red: var(--gruvbox-color-red);
  --color-grv-red-faded: var(--gruvbox-color-red-faded);
  --color-grv-orange-bright: var(--gruvbox-color-orange-bright);
  --color-grv-orange: var(--gruvbox-color-orange);
  --color-grv-orange-faded: var(--gruvbox-color-orange-faded);
  --color-grv-yellow-bright: var(--gruvbox-color-yellow-bright);
  --color-grv-yellow: var(--gruvbox-color-yellow);
  --color-grv-yellow-faded: var(--gruvbox-color-yellow-faded);
  --color-grv-green-bright: var(--gruvbox-color-green-bright);
  --color-grv-green: var(--gruvbox-color-green);
  --color-grv-green-faded: var(--gruvbox-color-green-faded);
  --color-grv-aqua-bright: var(--gruvbox-color-aqua-bright);
  --color-grv-aqua: var(--gruvbox-color-aqua);
  --color-grv-aqua-faded: var(--gruvbox-color-aqua-faded);
  --color-grv-blue-bright: var(--gruvbox-color-blue-bright);
  --color-grv-blue: var(--gruvbox-color-blue);
  --color-grv-blue-faded: var(--gruvbox-color-blue-faded);
  --color-grv-purple-bright: var(--gruvbox-color-purple-bright);
  --color-grv-purple: var(--gruvbox-color-purple);
  --color-grv-purple-faded: var(--gruvbox-color-purple-faded);
}
@layer base {
  :root {
    --gruvbox-color-bg0: #fbf1c7;
    --gruvbox-color-bg1: #ebdbb2;
    --gruvbox-color-bg2: #d5c4a1;
    --gruvbox-color-bg3: #bdae93;
    --gruvbox-color-bg4: #a89984;
    --gruvbox-color-bg-hard: #f9f5d7;
    --gruvbox-color-fg0: #282828;
    --gruvbox-color-fg1: #3c3836;
    --gruvbox-color-fg2: #504945;
    --gruvbox-color-fg3: #665c54;
    --gruvbox-color-fg4: #7c6f64;
    --gruvbox-color-bg: #fbf1c7;
    --gruvbox-color-fg: #3c3836;
    --gruvbox-color-gray-bright: #a89984;
    --gruvbox-color-gray: #928374;
    --gruvbox-color-gray-faded: #7c6f64;
    --gruvbox-color-red-bright: #fb4934;
    --gruvbox-color-red: #cc241d;
    --gruvbox-color-red-faded: #9d0006;
    --gruvbox-color-orange-bright: #fe8019;
    --gruvbox-color-orange: #d65d0e;
    --gruvbox-color-orange-faded: #af3a03;
    --gruvbox-color-yellow-bright: #fabd2f;
    --gruvbox-color-yellow: #d79921;
    --gruvbox-color-yellow-faded: #b57614;
    --gruvbox-color-green-bright: #b8bb26;
    --gruvbox-color-green: #98971a;
    --gruvbox-color-green-faded: #79740e;
    --gruvbox-color-aqua-bright: #8ec07c;
    --gruvbox-color-aqua: #689d6a;
    --gruvbox-color-aqua-faded: #427b58;
    --gruvbox-color-blue-bright: #83a598;
    --gruvbox-color-blue: #458588;
    --gruvbox-color-blue-faded: #076678;
    --gruvbox-color-purple-bright: #d3869b;
    --gruvbox-color-purple: #b16286;
    --gruvbox-color-purple-faded: #8f3f71;
  }
  .dark {
    --gruvbox-color-bg0: #282828;
    --gruvbox-color-bg1: #3c3836;
    --gruvbox-color-bg2: #504945;
    --gruvbox-color-bg3: #665c54;
    --gruvbox-color-bg4: #7c6f64;
    --gruvbox-color-bg-hard: #1d2021;
    --gruvbox-color-fg0: #fbf1c7;
    --gruvbox-color-fg1: #ebdbb2;
    --gruvbox-color-fg2: #d5c4a1;
    --gruvbox-color-fg3: #bdae93;
    --gruvbox-color-fg4: #a89984;
    --gruvbox-color-bg: #282828;
    --gruvbox-color-fg: #ebdbb2;
    --gruvbox-color-gray-bright: #a89984;
    --gruvbox-color-gray: #928374;
    --gruvbox-color-gray-faded: #7c6f64;
    --gruvbox-color-red-bright: #fb4934;
    --gruvbox-color-red: #cc241d;
    --gruvbox-color-red-faded: #9d0006;
    --gruvbox-color-orange-bright: #fe8019;
    --gruvbox-color-orange: #d65d0e;
    --gruvbox-color-orange-faded: #af3a03;
    --gruvbox-color-yellow-bright: #fabd2f;
    --gruvbox-color-yellow: #d79921;
    --gruvbox-color-yellow-faded: #b57614;
    --gruvbox-color-green-bright: #b8bb26;
    --gruvbox-color-green: #98971a;
    --gruvbox-color-green-faded: #79740e;
    --gruvbox-color-aqua-bright: #8ec07c;
    --gruvbox-color-aqua: #689d6a;
    --gruvbox-color-aqua-faded: #427b58;
    --gruvbox-color-blue-bright: #83a598;
    --gruvbox-color-blue: #458588;
    --gruvbox-color-blue-faded: #076678;
    --gruvbox-color-purple-bright: #d3869b;
    --gruvbox-color-purple: #b16286;
    --gruvbox-color-purple-faded: #8f3f71;
  }
}
@custom-variant dark (&:where(.dark, .dark *));
