@use 'sass:color';
@use 'sass:list';
@use 'sass:map';

// These colors are pulled from the palette provided on the gruvbox repo:
// https://github.com/morhetz/gruvbox?tab=readme-ov-file#palette
$palette: (
  // The dark and light colors are used for background/foreground depending
  // on the current theme.
  "dark": (
    #282828,
    #3c3836,
    #504945,
    #665c54,
    #7c6f64
  ),
  "light": (
    #fbf1c7,
    #ebdbb2,
    #d5c4a1,
    #bdae93,
    #a89984,
  ),
  // Each color has 3 variants: bright, neutral, and faded.
  // For a dark theme, neutral and bright are used, and for a light theme,
  // neutral and faded are used.
  "gray": (
    #a89984,
    #928374,
    #7c6f64
  ),
  "red": (
    #fb4934,
    #cc241d,
    #9d0006
  ),
  "orange": (
    #fe8019,
    #d65d0e,
    #af3a03
  ),
  "yellow": (
    #fabd2f,
    #d79921,
    #b57614
  ),
  "green": (
    #b8bb26,
    #98971a,
    #79740e
  ),
  "aqua": (
    #8ec07c,
    #689d6a,
    #427b58
  ),
  "blue": (
    #83a598,
    #458588,
    #076678
  ),
  "purple": (
    #d3869b,
    #b16286,
    #8f3f71
  )
);

$prefix: 'grv';

// Safely gets a specific color value from the palette.
@function get-color($color, $index: 1) {
  $base: map.get($palette, $color);
  @if ($base == null) {
    @error "#{$color} is not in the palette.";
  }

  @if ($color =="light" or $color =="dark") and ($index < 1 or $index > 5) {
    @error "#{$color} '#{$index}' is invalid. Must be between 1 and 5.";
  }

  @if $index < 1 or $index >3 {
    @error "#{$color} '#{$index}' is invalid. Must be between 1 and 3.";
  }

  @return list.nth($base, $index);
}

@function isColor($color-name) {
  $shades: (
    "dark",
    "light"
  );
  @return list.index($shades, $color-name) == null;
}

@mixin createThemePalette($theme) {
  $background: "light";
  $foreground: "dark";

  @if $theme == "dark" {
    $background: "dark";
    $foreground: "light";
  }

  $i: 0;
  @each $color-value in map.get(gruvbox.$palette, $background) {
    --gruvbox-color-bg#{$i}: #{$color-value};
    $i: $i + 1;
  }

  $i: 0;
  @each $color-value in map.get(gruvbox.$palette, $foreground) {
    --gruvbox-color-fg#{$i}: #{$color-value};
    $i: $i + 1;
  }

  --gruvbox-color-bg: #{list.nth(map.get(gruvbox.$palette, $background), 1)};
  --gruvbox-color-fg: #{list.nth(map.get(gruvbox.$palette, $foreground), 2)};

  @each $color-name, $color-variants in gruvbox.$palette {
    @if (isColor($color-name)) {
      --gruvbox-color-#{$color-name}-bright: #{list.nth($color-variants, 1)};
      --gruvbox-color-#{$color-name}: #{list.nth($color-variants, 2)};
      --gruvbox-color-#{$color-name}-faded: #{list.nth($color-variants, 3)};
    }
  }
}

@theme inline {
  @for $i from 0 through 4 {
    --color-#{$prefix}-bg#{$i}: var(--gruvbox-color-bg#{$i});
  }

  @for $i from 0 through 4 {
    --color-#{$prefix}-fg#{$i}: var(--gruvbox-color-fg#{$i});
  }

  --color-#{$prefix}-base: var(--gruvbox-color-bg);
  --color-#{$prefix}-text: var(--gruvbox-color-fg);

  @each $color-name in map.keys(gruvbox.$palette) {
    @if (isColor($color-name)) {
      --color-#{$prefix}-#{$color-name}-bright: var(--gruvbox-color-#{$color-name}-bright);
      --color-#{$prefix}-#{$color-name}: var(--gruvbox-color-#{$color-name});
      --color-#{$prefix}-#{$color-name}-faded: var(--gruvbox-color-#{$color-name}-faded);
    }
  }
}

@layer base {
  :root {
    @include createThemePalette ("light");
  }

  .dark {
    @include createThemePalette ("dark");
  }
}

// This custom variant is needed for this theme because I designed it for a
// website where the theme can be toggled, but Tailwind's default behavior is
// for force light/dark mode based on the `prefers-color-scheme` media query.
@custom-variant dark (&:where(.dark, .dark *));